



.h1Style
{
    font-size: 3.25rem;
    font-family: 'Merriweather', serif;
    line-height: 1.4em;
    color: #2B161B;
    font-weight: 700;
}

.h5Style
{
    line-height: 1.2em;
    font-size: 1.0625rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.bgMain
{
    background-color:#0aad0a !important;
}
.dicorationNon
{
    text-decoration: none;
}

.headercontent
{
    margin-bottom: 70px !important;
}

@media screen and (max-width : 601px)  {
    .header{
        height: 100px !important;
        overflow: hidden !important;
    }
}