

.dicorationNon
{
    text-decoration: none;
}

.relatedproduct
{
    background-color: #eee;
}

.relatedproduct .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relatedproduct .productImage {
    width: 100%;
    height: 250px; /* اضبط الارتفاع حسب الحاجة */
    object-fit: cover;
    border-radius: 8px;
}

.relatedproduct .productTitle {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #000;
    white-space: nowrap; /* منع التفاف النص */
    overflow: hidden;
    text-overflow: ellipsis;
}
